

@{
    ViewBag.Title = "DataTable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <table id="FactTable">
        <thead>
            <tr>
                <th>

                </th>
                @foreach (var item in ViewBag.CDays)
                {
                    <th>
                        @item
                    </th>
                }
                </tr>
            </thead>
        <tbody>
            @foreach (var item in ViewBag.Staff)
            {
            <tr>
                <td>@item.Name</td>
                @foreach (var item1 in ViewBag.CDays)
                {
                    <td id="@item1">
                       <select>
                           <option>1</option>
                           <option>2</option>
                           <option>3</option>
                       </select>
                    </td>
                }
            </tr>

            }
            </tbody>

    </table>
<script src="/JS/ParseDT.js"></script>

